img{
    padding: 18px;
    width: 104px;
    height: 125px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

a {
    text-decoration: none;
    padding: 18px;
}

